* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    background: url('car.jpg') no-repeat center center fixed;
    background-size: cover;
}

.forgot-password-container {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    padding: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 12px;
    backdrop-filter: blur(10px); /* Glassmorphism Effect */
    width: 250px; /* Adjust width */
}

h2 {
    text-align: center;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    text-align: center;
}
p a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

#error-msg {
    color: red;
    font-size: 12px;
    text-align: center;
}
